doctype 5
html(lang="en")
  head
    title Hello
    script(type='text/javascript')
      if (foo) {
         bar()
      }
  body
    h1 Jade - node template engine
    #container
      if true
        p You are amazing
      else
        p Get on it!